.navbarBackground {
  /* margin: 1rem auto; */
  background-color: black;
  margin: auto;
  position: relative;
  transition: 1.5s ease;
  -webkit-transition: 1.5s ease;
}
.navbarBackground:hover {
  transition: 1.5s ease;
  -webkit-transition: 1.5s ease;
  font-size: 1.2rem;
}
Nav {
  font-size: 1.1rem;
}
/* Navbar{
  style={{ background: 'linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,66,128,1) 50%, rgba(46,109,166,1) 83%, rgba(0,212,255,1) 100%)' }}
} */
